{
  "OnConnectFunction": {
    "CONNECTIONS_TABLE_NAME": "d00m-local-connections",
    "MESSAGES_TABLE_NAME": "d00m-local-messages",
    "USERS_TABLE_NAME": "d00m-local-users",
    "LOG_LEVEL": "debug"
  }
}
